.massive.header {
  position: absolute;
  top: 1rem;
  width: 100%;
  height: auto;
  font-size: 3rem !important;
}

.small.header {
  text-align: justify !important;
  text-align-last: left !important;
}